.container {
  display: block;
  width: 80%;
  margin: 3rem auto;
  background-color: #ffffff;
  border-radius: 0.2rem;
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1),
    0px 2px 4px -2px rgba(16, 24, 40, 0.06);
}

.infoContainer {
  padding: 0.3rem 0.5rem;
}

.title {
  font-weight: 500;
  font-size: 18px;
  color: #101828;
}

.description {
  font-weight: 400;
  font-size: 14px;
  color: #667085;
}

.paginatedTable {
  background-color: #ffffff;
  width: 100%;
  border-collapse: collapse;
}

.paginatedTable thead {
  background-color: #f9fafb;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #667085;
  text-align: left;
}

.paginatedTable tbody tr {
  border-bottom: 1px solid #eaecf0;
}

.paginatedTable th,
.paginatedTable td {
  padding: 1rem;
}

.paginatedTable th {
  font-size: 12px;
  font-weight: 500;
}

.paginatedTable td {
  font-size: 14px;
  color: #667085;
  font-weight: 400;
}

.paginatedTable input {
  color: #101828;
  padding: 0.3rem;
  border: 1px solid #eaecf0;
  display: flex;
}

.paginatedTable a {
  color: #0d6efd;
  display: flex;
  align-items: center;
}

.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0.5rem 0.5rem;
}

.paginationInfo {
  font-size: 14px;
  color: #667085;
  font-weight: 500;
}

.paginationControl {
  background: #f9fafb;
  border-radius: 8px;
  margin: 0 0.3rem;
  padding: 0.3rem 0.5rem;
  font-size: 14px;
  border: 1px solid #eaecf0;
  color: #101828;
  display: flex;
  cursor: pointer;
}

.paginationControl.active {
  background: #d6d5d6;
}

.paginationNumberContainer {
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

select.paginationControl {
  border: none;
  margin: 0 0.5rem;
}

input.paginationControl {
  width: 40px;
  color: #101828;
}

label.paginationControlLabel {
  font-size: 14px;
  color: #667085;
}

@media (max-width: 991.98px) {
  .paginationContainer {
    justify-content: center;
  }
  .container {
    width: 99%;
    margin: 3rem 0.5rem;
  }
}
